.cache/
.cache.sqlite
.cache.sqlite-journal
*.pyc
venv/
.venv/




# /data folder will also be ignored due size of big data. Will research how to use Git LFS in the future.
# .cache/ is used by requests_cache to store cached responses, so that we don't have to hit the API every time we run the script.